[data-style-id="style-0-1766408572364"],
[data-style-id="style-1-1766408572364"],
[data-style-id="style-2-1766408572364"],
[data-style-id="style-3-1766408572364"],
[data-style-id="style-4-1766408572364"],
[data-style-id="style-5-1766408572365"],
[data-style-id="style-6-1766408572365"],
[data-style-id="style-7-1766408572365"],
[data-style-id="style-8-1766408572365"],
[data-style-id="style-9-1766408572365"],
[data-style-id="style-11-1766408572365"],
[data-style-id="style-12-1766408572365"],
[data-style-id="style-13-1766408572365"],
[data-style-id="style-15-1766408572365"],
[data-style-id="style-16-1766408572365"],
[data-style-id="style-17-1766408572365"],
[data-style-id="style-18-1766408572365"],
[data-style-id="style-19-1766408572365"],
[data-style-id="style-20-1766408572366"] { 
  background-image: linear-gradient(90deg, transparent 0%, rgb(93, 236, 255) 0%, rgb(93, 236, 255) 100%, transparent 100%) !important;
  background-size: 0% 100% !important;
  transition: background-size 0.4s ease, background-position 0.4s ease !important;
}

[data-style-id="style-0-1766408572364"]:hover,
[data-style-id="style-1-1766408572364"]:hover,
[data-style-id="style-2-1766408572364"]:hover,
[data-style-id="style-3-1766408572364"]:hover,
[data-style-id="style-4-1766408572364"]:hover,
[data-style-id="style-5-1766408572365"]:hover,
[data-style-id="style-6-1766408572365"]:hover,
[data-style-id="style-7-1766408572365"]:hover,
[data-style-id="style-8-1766408572365"]:hover,
[data-style-id="style-9-1766408572365"]:hover,
[data-style-id="style-11-1766408572365"]:hover,
[data-style-id="style-12-1766408572365"]:hover,
[data-style-id="style-13-1766408572365"]:hover,
[data-style-id="style-15-1766408572365"]:hover,
[data-style-id="style-16-1766408572365"]:hover,
[data-style-id="style-17-1766408572365"]:hover,
[data-style-id="style-18-1766408572365"]:hover,
[data-style-id="style-19-1766408572365"]:hover,
[data-style-id="style-20-1766408572366"]:hover {
  background-size: 100% 100% !important;
}

[data-style-id="style-10-1766408572365"] { background-image: url('https://cdn.prod.website-files.com/687e1b1815336f057e7b0e2a/68909a7c98323d7b7c277f66_challenge-img.svg') !important; }

[data-style-id="style-14-1766408572365"] { background-image: url('https://cdn.prod.website-files.com/687e1b1815336f057e7b0e2a/6893141e8e7c2ac829b015f8_cta.svg') !important; }