@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom text selection color */
::selection {
  background-color: #5CECFF;
  color: #000000;
}

::-moz-selection {
  background-color: #5CECFF;
  color: #000000;
}

/* Hide scrollbars for components that shouldn't scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes spin-slow {
  from {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  to {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 30s linear infinite;
}
